<h2 class="text-center">Bookings Hotels</h2>

<div *ngIf="loading">
  Loading...
</div>
<div *ngIf="error">
  Error
</div>

<div class="card">
  <div class="card-body">
    <table class="table">
  <thead>
  <tr>
    <th scope="col">Hotels ID</th>
    <th scope="col">Booking Date</th>
    <th scope="col">Booking Start</th>
    <th scope="col">Booking End</th>
    <th scope="col">User ID</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let booking of bookings">
    <td scope="row">{{ booking.hotel_id }}</td>
    <td scope="row">{{ booking.booking_date }}</td>
    <td scope="row">{{ booking.booking_start }}</td>
    <td scope="row">{{ booking.booking_end }}</td>
    <td scope="row">{{ booking.user_id }}</td>
  </tr>
  </tbody>
</table>
  </div>
</div>
