<p>Hotels</p>

<div *ngIf="loading">
  Loading...
</div>
<div *ngIf="error">
  Error
</div>

<form class="row g-3">
  <div class="col-auto">
    <label for="txtSearch" class="visually-hidden">Search Hotel By Name: </label>
    <input type="text" [(ngModel)]="selectedHotelName" name="txtSearch" class="form-control" id="txtSearch" placeholder="Search By Name">
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3" (click)="searchByName()">Search</button>
  </div>
</form>

<table class="table">
  <thead>
  <tr>
    <th scope="col">hotel_id</th>
    <th scope="col">hotel_name</th>
    <th scope="col">street</th>
    <th scope="col">city</th>
    <th scope="col">postal_code</th>
    <th scope="col">price</th>
    <th scope="col">email</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let hotel of hotels">
    <th scope="row">{{ hotel.hotel_id }}</th>
    <th scope="row">{{ hotel.hotel_name }}</th>
    <th scope="row">{{ hotel.street }}</th>
    <th scope="row">{{ hotel.city }}</th>
    <th scope="row">{{ hotel.postal_code }}</th>
    <th scope="row">{{ hotel.price }}</th>
    <th scope="row">{{ hotel.email }}</th>
  </tr>
  </tbody>
</table>
